file-upload/.classpath
file-upload/.gitignore
file-upload/.project
file-upload/.settings/org.eclipse.core.resources.prefs
file-upload/.settings/org.eclipse.jdt.core.prefs
file-upload/.settings/org.eclipse.m2e.core.prefs
